test-cicd-api/src/main/mule/test-cicd-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d98fa2dc-ee82-408b-a1e3-3cc01b0410d0" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="test-cicd-apiFlow" doc:id="fc1ea53c-6682-47c9-8873-ebb46d263328" >
		<http:listener doc:name="Listener" doc:id="d5f9e4cb-39ae-49d1-abab-914fb005f178" config-ref="HTTP_Listener_config" path="/api"/>
		<ee:transform doc:name="Transform Message" doc:id="d11463b8-4a6f-49d3-ad2f-161aaefabd0c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"Hi"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="f85b3808-aa69-49d0-8c11-b15b169939a6" message="#[payload]"/>
	</flow>
</mule>
