src/main/mule/test-cicd-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d362af7e-2e17-43d2-aa9d-6d246d05392a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="test-cicd-apiFlow" doc:id="feca1dbb-45e4-4833-a0a5-e526c7e3a1c3" >
		<http:listener doc:name="Listener" doc:id="6f018a46-6bd0-437f-8daf-20d665cf7d49" config-ref="HTTP_Listener_config" path="/api"/>
		<ee:transform doc:name="Transform Message" doc:id="b21c1d03-f43c-4ee9-864d-b50fd6958e1d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"Hi"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="51c0163e-6584-4f75-afd8-34a0e1a79a33" message="#[payload]"/>
	</flow>
</mule>
