src/main/mule/test-cicd-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a1093fc1-2e0e-4bbe-8639-bbe87b48c568" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="test-cicd-apiFlow" doc:id="32eca40a-abbc-4eaa-b623-3023c586f48b" >
		<http:listener doc:name="Listener" doc:id="c0c4b8d7-a001-46c1-9b68-997cc371ada9" config-ref="HTTP_Listener_config" path="/api"/>
		<ee:transform doc:name="Transform Message" doc:id="7236c381-688c-47dd-8455-0602473aaf1e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"Hi Dwinsoft"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="7d17a43e-9eff-4454-8a1b-3723b47b3e8b" message="#[payload]"/>
	</flow>
</mule>
